.btn-login {
  background-color: #01ccff; /* Cor de fundo azul */
  color: white; /* Texto branco */
  border: none; /* Remover borda padrão */
  width: 100%; /* Largura total */
  border-radius: 0.25rem; /* Arredondamento do botão */
  padding: 0.5rem; /* Espaçamento interno */
  font-size: 1rem; /* Tamanho da fonte */
}

.btn-login:hover {
  background-color: #0286a7; /* Cor de fundo ao passar o mouse */
}
